$horz-padding: 30px;

md-card {
    md-card-title {
        padding: 15px $horz-padding;
        h2 {
            margin: 0;
            color: white;
            font-weight: normal;
        }
    }

    md-card-content {
        padding: $horz-padding;
        font-size: 18px;
        button {
            background-color: #800000;
            color: white;
            font-size: 18px;
            margin: 20px;
            padding: 5px 20px;
        }
    }
}