<md-card>
  <md-card-title>
    <h1>Welcome</h1>
  </md-card-title>
  <md-card-content fxLayout="column" fxLayoutAlign="none center">
    <img src="./assets/img/logo1.jpg">
    <button md-raised-button id="rose-button" (click)="authService.signInWithRosefire()">Rose-Hulman Login</button>
    <button id="google-button" md-button (click)="authService.signInWithGoogle()"></button>
    <br>
    <p>Please sign in. You can use Rose-Hulman credentials or your Google Account.</p>
  </md-card-content> 
</md-card>
