.container {
  width: 400px;
  margin: 10px 20px;
  display: inline-block;
}

md-card {
  
  overflow: hidden;
  padding: 20px;
  md-card-title {
  padding: 5px 5px;
  margin: 0;

    h2 {
      margin: 0;
      color: white;
      font-weight: normal;
    }
  }

  md-card-content {
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  md-card-actions {
    padding: 0;
  }

  .note-content {
    word-wrap: break-word;
    width: 100%;
    height: 85px;
  }
}

