.container {
  margin: 10px 10px;
}

md-card {
  overflow: hidden;
  md-card-title {
  padding: 5px 5px;
  margin: 0;

    h2 {
      margin: 0;
      color: white;
      font-weight: normal;
    }
  }

  md-card-content {
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  md-card-actions {
    padding: 0;
  }

  .note-content {
    word-wrap: break-word;
    width: 100%;
  }
}

