<div fxLayout="row" fxLayoutAlign="none center">
  <h1>{{flashcardGroup.title}}</h1>
  <span fxFlex></span>
  <div fxLayout="row"  *ngIf="flashcardGroup.uid==authService.currentUserUid;else favoriteTemplate" fxLayoutAlign="">
    <button color="accent" md-icon-button (click)="addFlashcard()">
      <md-icon>add</md-icon>
    </button>
    <button color="accent" md-icon-button (click)="showEditDialog()" *ngIf="flashcardGroup.uid==authService.currentUserUid">
      <md-icon>edit</md-icon>
    </button>
    <button color="accent" md-icon-button (click)="back()"><md-icon>arrow_back</md-icon></button>
  </div>

  <ng-template #favoriteTemplate>
    <button color="accent" md-icon-button (click)="toggleFavorite()" *ngIf="!isFavorited;else unfavoriteTemplate">
      <md-icon>favorite_border</md-icon>
    </button>
    <ng-template #unfavoriteTemplate>
      <button color="accent" md-icon-button (click)="toggleFavorite()">
       <md-icon>favorite</md-icon>
      </button>
    </ng-template>
    <button color="accent" md-icon-button (click)="back()"><md-icon>arrow_back</md-icon></button>
  </ng-template>
</div>

<h3> {{flashcardGroup.desc}}</h3>
<md-grid-list [cols]="3" gutterSize="10px" rowHeight="200px">
  <md-grid-tile *ngFor="let flashcard of (flashcardService.flashcardStream | async)">
    <app-flashcard [flashcard]=flashcard></app-flashcard>
  </md-grid-tile>
</md-grid-list>

