<h1 md-dialog-title>{{title}}</h1>
<form #flashcardForm="ngForm" fxLayout="column" (ngSubmit)="onSubmit()">
  <md-dialog-content fxFlex="1" fxLayout="column" fxLayoutAlign="none center">
    <md-input-container>
      <input mdInput required placeholder="Flashcard Front"
             name="front" [(ngModel)]="formFlashcard.front">
    </md-input-container>
    <md-input-container>
      <input mdInput required placeholder="Flashcard Back"
             name="back" [(ngModel)]="formFlashcard.back">
    </md-input-container>
  </md-dialog-content>

  <md-dialog-actions fxLayoutAlign="end center">
    <button md-button type="button" md-dialog-close>Cancel</button>
    <button md-button [disabled]="!flashcardForm.form.valid" type="submit" color="primary">Save</button>
  </md-dialog-actions>
</form>
