<md-toolbar color="primary">
  Paper Clip
  <img src="/3.jpg" />
  <span fxFlex></span>

  <button ng-if="showSignOut" md-icon-button [mdMenuTriggerFor]="signOutMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu [overlapTrigger]="false" #signOutMenu="mdMenu">
    <button md-menu-item (click)="signOut()">Sign Out</button>
  </md-menu>
</md-toolbar>

<div fxLayoutAlign="center center">
  <div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1100px">
    <router-outlet></router-outlet>
  </div>
</div>
