.container {
    padding: 20px;
}

#logo {
    margin: 10px 0 10px 10px;
}

button[md-menu-item].active {
    background-color: lightgray;
}

.active {
    background-color: rgba(255, 255, 255, 0.1)
}

.blueGrayButton {
    color: #607d8b;
}

.indigoButton {
    color: #3f51b5;
}

.pinkButton {
    color: #e91e63;
}

.tealButton {
    color: #009688;
}