<div>
  <h1>Recent Notes</h1>
  <md-grid-list [cols]="numColumns" gutterSize="5px" rowHeight="200px">
    <md-grid-tile *ngFor="let note of (noteService.mainPageNotesStream | async)">
      <app-note [note]=note></app-note>
    </md-grid-tile>
  </md-grid-list>

  <div fxLayout="row" style="margin-top:0px;">
    <span fxFlex></span>
    <button md-raised-button color="primary" [routerLink]="['/note-list/all']">See More</button>
  </div>
</div>
<br>
<hr>
<br>
<div>
  <h1>Recent Flashcards</h1>
    <md-grid-list [cols]="numColumns" gutterSize="5px" rowHeight="200px">
      <md-grid-tile *ngFor="let flashcardGroup of (flashcardService.mainPageFlashcardGroupStream | async)">
        <app-flashcard-group [flashcardGroup]=flashcardGroup [previousRoute]="currentRoute"></app-flashcard-group>
      </md-grid-tile>
    </md-grid-list>
  <div fxLayout="row">
    <span fxFlex></span>
    <button md-raised-button color="primary"[routerLink]="['/flashcard-list/all']">See More</button>
  </div>
</div>