md-card {
    padding: 0;

    md-card-title {
        background-color: #5c88ce;
        margin: 0;
        color: white;
    }

    md-card-content {
        color: rgba(0, 0, 0, 0.7);
    }

    md-card-actions {
        margin: 0;
    }
}