[md-dialog-title] {
    color: #444;
    padding: 0 10px;
}

form {
    width: auto;
    md-dialog-content {
        overflow: auto;

        md-input-container {
            width: 100%;
            textarea {
                resize: none;
            }
        }
    }
}