[md-dialog-title] {
    font-size: 24px;
    font-weight: normal;
    color: #444;
    padding: 0 10px;
}

form {
    width: auto;
    md-dialog-content {
        overflow: hidden;
        width: 350px;

        md-input-container {
            width: 100%;
            textarea {
                resize: none;
            }
        }
    }
}